.cart-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
  scroll-snap-align: start;
}
.cart-item:last-child {
  border: none;
}
.picture {
  position: relative;
  max-width: 100px;
  max-height: 100%;
}
.picture img {
  width: 100%;
  height: auto;
}
.text-box {
  padding: 0 2em;
  flex-grow: 1;
  text-align: left;
}

@media (min-width: 558px) {
  .cart-item {
    flex-direction: row;
  }
}
